@charset "utf-8";
/* CSS Document */
html{ font-size:60px; margin:0 auto; color:; min-width:320px; max-width:640px;}
body{ background-image:url(../img/hongbao_bg.png); background-repeat: no-repeat;  background-size:cover;}

/*.container{ width:6.25rem; height:11.1167rem;}*/
.remind{ width:5.7167rem; height:0.6917rem; line-height:0.6917rem;margin:0 auto; margin-top:0.5rem;}
.remind .laba{ width:0.3917rem; height:0.3917rem; padding: 0.15rem 0; float:left; line-height: 0.6917rem; margin-right: 0.1rem;}
.remind .laba img{ width:0.3917rem; height:0.3917rem; display: block;}
.remind .kuangkuang{ width:4.9967rem; height:0.6917rem; background:url(../img/kuangkuang.png) no-repeat; background-size: cover; float:left; font-size: 0.3rem; color: #ff6666; padding-left: 0.2203rem;}
.hongbao{ width: 5.7167rem; height:3.8333rem;margin: 0 auto; margin-top:1.5rem; background:url(../img/hongbao.png) no-repeat; background-size: cover; overflow: hidden;}
.hongbao .phone{ width: 5rem; height: 0.7333rem; margin: 0 auto; margin-top: 2.55rem;}
.hongbao .phone .txt{ width: 5rem; height: 0.7333rem; background: #fff; border-radius: 5px; line-height: 0.7333rem; text-align: center; color: #666; font-size: 0.3rem; display: block; border:1px solid #fff; outline: none; }
.receive{ width: 5.7167rem; height: 0.8333rem; margin:0 auto; margin-top: 0.5rem; }
.receive .btn{ width: 5.7167rem; height: 0.8333rem; background: #de2c2c; line-height: 0.8333rem; text-align: center; border-radius: 5px; font-size: 0.3333rem; color: #fff; border:1px solid #de2c2c ; font-weight:bold; outline: none;}